/* SF News Gothic Light */

/*https://statefarm-fonts.s3.amazonaws.com/*/


/* SF News Gothic Regular */

@font-face {
	font-family: 'SF News Gothic';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-Reg.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-Reg.woff') format('woff'),
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/ttf/SFNewsGothic-Reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF News Gothic';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-RegItalic.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-RegItalic.woff') format('woff'),
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/ttf/SFNewsGothic-RegItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


/* SF News Gothic Medium */

@font-face {
	font-family: 'SF News Gothic';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-Med.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-Med.woff') format('woff'),
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/ttf/SFNewsGothic-Med.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF News Gothic';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-MedItalic.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-MedItalic.woff') format('woff'),
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/ttf/SFNewsGothic-MedItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}


/* SF News Gothic Demi */

@font-face {
	font-family: 'SF News Gothic';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-Demi.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-Demi.woff') format('woff'),
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/ttf/SFNewsGothic-Demi.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF News Gothic';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-DemiItalic.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-DemiItalic.woff') format('woff'),
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/ttf/SFNewsGothic-DemiItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}


/* SF News Gothic Bold */

@font-face {
	font-family: 'SF News Gothic';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-Bold.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-Bold.woff') format('woff'),
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/ttf/SFNewsGothic-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SF News Gothic';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-BoldItalic.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/woff/SFNewsGothic-BoldItalic.woff') format('woff'),
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/SFNewsGothic/ttf/SFNewsGothic-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}