@charset "utf-8";

/*	version: "v4.3"	*/
/* CSS Document */

.copy-bold {
	font-weight: bold;
	font-size: 21px;
	letter-spacing: -.3px;
	line-height: 23px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.copy-reg {
	color: #fff;
	font-size: 24px;
	line-height: 26px;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* End Font Styles */


body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

body {
	display: none;
}

#unit-container {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

#main-panel {
	background-color: #e22925;
}

.panel {
	overflow: hidden;
}


img {
	width: 100%;
	height: 100%;
}

.full-col {
	width: 728px;
	height: 90px;
}

.full-exp {
	
}

.free {
	position: absolute;
}

.centered {
	text-align: center;
}

.no-point {
	pointer-events: none !important;
}




#intro, #line2 {
	z-index: 2;
	left: 19px;
    top: 16px;
	width: 800px;
}

.intro {
	left: 0;
	top: 0;
	
	-moz-transform: translateY(100px);
	-webkit-transform: translateY(100px);
	transform: translateY(100px);
}

#intro1 {
	opacity: 1;
	
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}


#trophy {
	width: 39px;
	height: 49px;
	left: 245px;
	top: 1px;
}

.star {
	width: 15px;
	height: 14px;
	background: url("../images/star.png") top left no-repeat;
	
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}

#star1 {
	left: 274px;
	top: 33px;
}

#star2 {
	left: 272px;
	top: 22px;
}

#star3 {
    left: 235px;
    top: 7px;
}

#star4 {
	left: 240px;
	top: -7px;
}

#star5 {
	left: 231px;
	top: -4px;
}

sup {
	position: absolute;
	font-weight: normal;
	font-size: 14px;
	top: -4px;
}

#line2 {
	opacity: 0;
	font-size: 21px;
	line-height: 23px;
	width: auto !important;
}

#cta {
	width: 77px;
	height: 20px;
	top: 34px;
	z-index: 6;
	left: 390px;
}

p {
	margin: 0;
}

#ctaCopy {
    top: 3px;
    left: 9px;
}

#disc {
	width: 728px;
	height: 7px;
	left: 18px;
	top: 73px;
	color: #fff;
	font-size: 8px;
	line-height: 8px;
}

#logo {
	width: 150px;
	height: 21px;
	left: 559px;
	top: 33px;
	z-index: 4;
}

#logo svg {
	width: 100%;
	height: 100%;
}

#logo-bg {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e22925+0,e22925+51&0+0,1+100 */
background: -moz-linear-gradient(left,  rgba(226,41,37,0) 0%, rgba(226,41,37,0.51) 51%, rgba(226,41,37,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(226,41,37,0) 0%,rgba(226,41,37,0.51) 51%,rgba(226,41,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(226,41,37,0) 0%,rgba(226,41,37,0.51) 51%,rgba(226,41,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e22925', endColorstr='#e22925',GradientType=1 ); /* IE6-9 */
	z-index: 3;
	width: 300px;
	height: 90px;
	right: 0;
	top: 0;
	opacity: 0;
}